/* Load Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Karla');
@import url('https://fonts.googleapis.com/css?family=PT+Sans}');
@import url('https://fonts.googleapis.com/css?family=Roboto}');
/*CSS Variables*/
:root{
    /*--sidebar-background: #F8F9FA;*/
    --sidebar-background: white;
    --sidebar-width: 20%;
    overflow: hidden;
}
/* Responsive design for smaller screen */
@media screen and (max-width: 1000px){
    :root{
        --sidebar-width: 30%;
    }
}
@media screen and (max-width: 800px){
    :root{
        --sidebar-width: 35%;
    }
}
body{
    font-family: 'Roboto';
    /*font-weight: 500;*/
}
/*Connal's embed map element styling*/
#map{
    height: 100vh;
    z-index: 1;
}
/*Fixing weird bootstrap margin in index.html*/
.mb-3, .my-3 {
    margin-bottom: 0 !important;
}
/*Custom Sidebar Styling*/
nav.sidebar{
    max-height: 100%;
    height: 100vh;
    box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.25);
    /*box-shadow: 1px 2px 1px rgba(0, 0, 0, 1);*/
    width: var(--sidebar-width);
    overflow: hidden;
    -webkit-transition:  .5s;
    -moz-transition:  .5s;
    -ms-transition:  .5s;
    -o-transition:  .5s;
    transition:  .5s;
    background: var(--sidebar-background);
    z-index: 100;
}
.container-fluid{
    max-height: 100vh;
}
/*Hover animations menu*/
nav.sidebar a{
}
nav.sidebar a.nav-link:hover{
    background: #F8F9FA;
    transition: .1s;
}
nav.sidebar a.nav-link{
    transition: .1s;
    color: black;
}
nav.sidebar li:not(:first-child) a:hover{
    /*border-left: 3px solid black;*/
}
/*Logo CSS*/
#logo{
    background-image: url('../images/logo_lmao.png');
    background-color: var(--sidebar-background);
    min-height: 100px;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-position: center center;
    width: 100%;
}
/*Minimum width so the text element doesn't collapse*/
.sidebar a.nav-link{
    display: flex;
    justify-content: center;
    min-width: 200px;
    white-space: nowrap;
}
/*Extra Chevron*/
.fa-chevron-left::after{
    content:'\f053';
    left: 10px;
    /*width: 1px;*/
}
/* Make the icon clickthrough for jQuery */
#expand .fas{
    pointer-events: none;
}
/*Main Content Expansion*/
main{
    /*width: 100%;*/
    flex-grow: 2;
    position: relative;
    /*padding: 1rem;*/
}
/*Flexes the row container content*/
.container-fluid > .row{
    display: flex;
}
/*Sidebar Toggle Styling*/
div.sidebar-toggle{
    /*opacity: 0;*/
    /*background: #b5b5b5;*/
    background: var(--sidebar-background);
    position: absolute;
    top: 50%;
    padding: 1rem;
    padding-right: .5rem;
    padding-left: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 0 5px #00000052;
    left: -8px;
    cursor: pointer;
    transition: .5s;
    z-index: 2;
}
/*Extra Chevron again*/
.fa-chevron-right::after{
    content:  '\f054';
}
/* Upload file form */
#addAnimal{
    border-radius: 10px;
    display: none;
    --padding-size: 2rem;
    position: fixed;
    /*padding: calc(2*var(--padding-size)) var(--padding-size);*/
    padding: var(--padding-size);
    background: white;
    left: calc(40% - var(--padding-size));
    top: calc(40% - var(--padding-size));
    box-shadow: 0 0 0 100vw rgba(0,0,0,.5);
    z-index: 999;
    transition: .3s;
    border-top: 5px solid rgba(0,0,0,1);
    width: 25%;
    min-width: 350px;
    padding-bottom: .3rem;
}
/* Form input styling */
#addAnimal{
    /*display: flex;*/
    flex-direction: column;
}
#addAnimal > *{
    padding-bottom: 1rem;
}
#addAnimal .actions{
    display: flex;
}
#addAnimal .actions input:not([type=file]){
    width: 50%;
    margin-right:.5rem;
}
#addAnimal h3{
    position: absolute;
    top: 5px;
    font-size: 20px;
    text-transform: uppercase;
}
.fields{
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
}
.fields input[type=text]{
    width: 50%;
    margin-left: 1rem;
}
.fields input{
    margin-bottom: 1rem;
}
/* Preventing clicking elsewhere */
#addAnimal::after{
    position:fixed;
    content: '';
    width: 1000vw; height: 1000vh;
    top: 0; left: 0;
    z-index: -1;
    transition: .3s;
}
/* Toggle close add animal button */
#closeForm{
    position: absolute;
    top: 0; right: 0;
    padding: 10px;
    cursor: pointer;
}
/*buttons styling*/
input[type=submit]{
    border: 3px solid #000000c9;
    color:white;
    border-radius: 8px;
    padding: .3rem;
    background: black;
}
.actions input,.actions input:hover{
    transition: .2s;
    cursor: pointer;
}
input[type=submit]:hover{
    border-color: #000000d6;
    background: #000000d6;
}
input[type=button]{
    border: 3px solid #c4c4c4;
    border-radius: 8px;
    background: none;
    color:#5f5f5f;
}
input[type=button]:hover{
    background: #c4c4c4;
    color: black;
}